<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">FRC Scouting</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!--
          <li class="nav-item dropdown" routerLinkActive="active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              FRC Data
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/events" routerLinkActive="active">Events</a></li>
              <li><a class="dropdown-item" routerLink="/teams" routerLinkActive="active">Teams</a></li>
              <li><a class="dropdown-item" routerLink="/matches" routerLinkActive="active">Matches</a></li>
            </ul>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/teams" routerLinkActive="active">Teams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/templates" routerLinkActive="active">Templates</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="mat-elevation-z1 px-2">
            <b>Selected Event:</b> {{ getSelectedEvent() }}
            <button mat-icon-button matTooltip="close" (click)="resetSelectedEvent()">
              <mat-icon class="material-icons">close</mat-icon>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
