<table style="width: 100%;">
  <tr>
    <td><span mat-dialog-title>Template Editor</span></td>
    <td style="text-align: right; vertical-align: top">
      <button mat-icon-button (click)="onClose()" matTooltip="close">
        <mat-icon class="material-icons">close</mat-icon>
      </button>
    </td>
  </tr>
</table>
<div *ngIf="temp" class="template-editor-main">
  <div class="template-editor-top">
    <div class="dl-inline">
      <dl>
        <dt>Template Name</dt>
        <dd>{{ temp.templateName }}</dd>
      </dl>
      <dl>
        <dt>Template Type</dt>
        <dd>{{ temp.templateType }}</dd>
      </dl>
      <dl>
        <dt>For Year</dt>
        <dd>{{ temp.forYear }}</dd>
      </dl>
    </div>
    <div class="template-editor-options">
      <button mat-raised-button color="warn">Cancel</button>
      <button mat-raised-button color="primary">Save</button>
    </div>
  </div>
  <div class="template-editor-body">
    <div class="template-editor-edit" hidden>
      <h2 class="text-center border-bottom">Edit</h2>
      <div cdkDropListGroup>
        <div class="example-container" *ngFor="let section of temp.sections; let i = index">
          <mat-form-field appearance="fill">
            <mat-label>Section Header</mat-label>
            <input matInput placeholder="label" value={{section.header}}>
          </mat-form-field>

          <div cdkDropList
               id="section{{ i }}"
               [cdkDropListData]="section.fields"
               class="example-list">
            <div class="example-box" *ngFor="let field of section.fields" cdkDrag>
              <mat-form-field appearance="fill">
                <mat-label>{{ field.type }} - Label</mat-label>
                <input matInput placeholder="label" value={{field.label}}>
              </mat-form-field>
              <div [ngSwitch]="field.type">
                <div *ngSwitchDefault>
                  {{ jsonToString(field) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="template-preview">
      <h2 class="text-center border-bottom">Preview</h2>
      <div *ngFor="let section of temp.sections" class="section mat-elevation-z2">
        <div class="section-header">
          <span>{{ section.header }}</span>
        </div>
        <div class="section-fields">
          <div *ngFor="let field of section.fields" [ngSwitch]="field.type" class="section-field">
            <div *ngSwitchCase="'TextField'">
              <mat-form-field appearance="fill">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput placeholder="label">
              </mat-form-field>
            </div>
            <div *ngSwitchCase="'RadioList'">
              <mat-radio-group class="radio-group">
                <mat-radio-button *ngFor="let item of convertToList(field).items"
                                  value={{item.label}}
                                  class="example-radio-button">
                  {{ item.label }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div *ngSwitchCase="'CheckList'">
              <ul>
                <li *ngFor="let item of convertToList(field).items">
                  <mat-checkbox>
                    {{ item.label }}
                  </mat-checkbox>
                </li>
              </ul>
            </div>
            <div *ngSwitchCase="'Checkbox'">
              <mat-checkbox>
                {{ field.label }}
              </mat-checkbox>
            </div>
            <div *ngSwitchCase="'Counter'">
              <div class="counter-wrapper">
                <label>{{ field.label }}</label>
                <div class="counter">
                  <mat-icon class="counter-option remove">remove</mat-icon>
                  <span class="value">0</span>
                  <mat-icon class="counter-option add">add</mat-icon>
                </div>
              </div>
            </div>
            <div *ngSwitchDefault>
              Not Set: {{ field.type }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
