/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  position: relative;
  min-height: 100vh;

  
}

main {
    padding-bottom: 100px;
}

footer {
  height: 100px;
}

.dropdown.active .dropdown-toggle {
  color: rgba(0,0,0,.9);
}
