
.data-report-item {
    padding: 2px 4px;
    margin: 6px 0;
}

.data-report-item dl {
    margin: 0 2px;
    min-width: 80px;
    width: max-content;
}

.data-report-item dt {
  font-weight: 600;
  text-align: center;
}

.data-report-item dd {
    text-align: center;
}

.data-report-item .title {
    font-weight: bold;
    padding: 0;
    margin-bottom: 4px;
    font-size: 0.9rem;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.data-report-item .dr-content {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}
